.footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: $color-gray-200;

  .footer-top {
    padding: 4rem 8rem;

    .footer-grid {
      display: grid;
      grid-template-columns: 0.5fr 1fr;

      .footer-grid__img {
        img {
          width: 8rem;
        }
      }

      .footer-grid-columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .footer-grid-column {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .footer-grid-column__title {
            color: $color-black;
            @include heading-text-h4;
          }

          .footer-grid-column-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .footer-grid-item {
              @include hover-line-effect;

              .footer-grid-item__link {
                color: $color-gray-300;
              }
            }
          }

          .footer-grid-column__desc {
            @include text-desc-p;
            color: $color-gray-300;
          }

          .footer-grid-form {
            .footer-grid-form-container {
              display: flex;
              border-radius: 0.5rem;
              overflow: hidden;

              .footer-grid-form__input {
                width: 100%;
                padding: 0.5rem 1rem;
                border: 0;
                outline: 0;

                &::placeholder {
                  color: $color-gray-300;
                  font-size: $font-size-100;
                }
              }

              .footer-grid-form__btn {
                cursor: pointer;
                border: 0;
                outline: 0;
                background-color: $color-blue;
                transition: filter 0.2s ease-in;

                .fa-envelope {
                  font-size: $font-size-100;
                  color: $color-white;
                  padding: 0.25rem;
                }

                &:hover {
                  filter: brightness(105%);
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 0 4rem 1rem;

    .footer__copyrights {
      @include text-desc-p;
      color: $color-black;
    }
  }
}

// media query
@include desktop-wide {
  .footer {
    .footer-top {
      padding: 4rem;
    }
  }
}

@include desktop {
  .footer {
    gap: 2rem;
    .footer-top {
      .footer-grid {
        display: flex;
        flex-direction: column;

        .footer-grid-columns {
          margin-top: 4rem;
        }
      }
    }
  }
}

@include tablet-wide {
  .footer {
    .footer-top {
      padding: 4rem 2rem;
      .footer-grid {
        .footer-grid-columns {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 4rem;
        }
      }
    }

    .footer-bottom {
      padding: 0 2rem 1rem;
    }
  }
}

@include mobile {
  .footer {
    .footer-top {
      .footer-grid {
        .footer-grid-columns {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
