.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: $color-light-yellow;
  padding-bottom: 8rem;

  .faq-accordion {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 12rem;

    .faq-accordion-item {
      background-color: $color-white;
      border-radius: 1.5rem;

      .faq-accordion-item__header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 2rem;

        &::after {
          content: '';
          width: 15px;
          height: 15px;
          display: block;
          position: absolute;
          top: 50%;
          right: 2rem;
          border-top: 2px solid $color-black;
          border-right: 2px solid $color-black;
          transform: translateY(-50%) rotate(135deg);
          transition: all 0.2s ease-in-out;
        }

        .faq-accordion-item__question {
          @include heading-text-h4;
          color: $color-black;
          font-family: 'Raleway', sans-serif;
          word-spacing: 2px;
          padding-right: 2rem;
        }
      }

      .faq-accordion-item__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        .faq-accordion-item__answer {
          @include text-desc-p;
          color: $color-gray-300;
          padding: 1rem 2rem 1.5rem;
        }
      }

      &.faq--active .faq-accordion-item__content {
        max-height: 200px;
        border-top: 1px solid $color-gray-200;
        transition: max-height 0.3s ease-in-out;
      }

      &.faq--active .faq-accordion-item__header::after {
        transform: translateY(-50%) rotate(315deg);
      }
    }
  }

  .faq-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .faq-contact-text {
      @include text-desc-p;
      color: $color-gray-300;
    }

    .faq-contact-btn {
      @include text-desc-p;
      .faq-contact-btn__link {
        cursor: pointer;
        color: $color-blue;
        text-decoration: underline;
        text-underline-offset: 2.5px;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}

// media query
@include desktop-wide {
  .faq {
    .faq-accordion {
      padding: 0 8rem;
    }
  }
}

@include tablet-wide {
  .faq {
    .faq-accordion {
      padding: 0 6rem;

      .faq-accordion-item.faq--active {
        .faq-accordion-item__content {
          max-height: 250px;
        }
      }
    }
  }
}

@include tablet-wide {
  .faq {
    .faq-accordion {
      padding: 0 4rem;
    }
  }
}

@include mobile-wide {
  .faq {
    .faq-accordion {
      padding: 0 4rem;
    }
  }
}

@include mobile {
  .faq {
    .faq-accordion {
      padding: 0 2rem;
    }
  }
}
