// font
$font-size-700: 4rem;
$font-size-600: 3rem;
$font-size-550: 2.5rem;
$font-size-500: 2rem;
$font-size-450: 1.65rem;
$font-size-400: 1.4rem;
$font-size-300: 1.2rem;
$font-size-200: 1rem;
$font-size-100: 0.85rem;
$font-size-50: 0.75rem;
$font-weight-900: 900;
$font-weight-800: 800;
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;
$font-weight-100: 100;

// color
$color-black: #202020;
$color-white: #ffffff;
$color-gray-400: #777777;
$color-gray-300: #9b9b9b;
$color-gray-200: #e8e8e8;
$color-gray-100: #f9f9f9;
$color-yellow: #eecc6d;
$color-light-yellow: #f9e09a;
$color-blue: #92d7ed;
$color-green: #b9e7ac;

// box-shadow
$box-shadow-300: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$box-shadow-200: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-100: rgba(144, 144, 144, 0.2) 0px 4px 16px 0px;

// breakpoints
$breakpoint-mobile: 478px;
$breakpoint-mobile-wide: 592px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-wide: 912px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1280px;
